body {
    font-family: 'Inter';
    font-size: 16px;
    color: #141414;
}

header {
    border-bottom: 1px solid rgb(223, 223, 223);
}

.header-wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 1.25rem;
}

main {
    width: 60%;
    margin: 0 auto;
    letter-spacing: -0.05rem;
}

a {
    text-decoration: none;
}

main {
    display: flex;
}

/* Company Logo */
.company-logo {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Russo One';
    color: #524b6d;
}

.company-logo span {
    color: #87b5b8;
}

/* Checkout Container */
.checkout-container {
    width: 60%;
    padding: 2rem 3rem 2rem 0;
    border-right: 1px solid rgb(230, 230, 230);
}

.checkout-container h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.delivery-form-container {
    margin-bottom: 3rem;
}

.payment-form-container {
    margin-bottom: 6rem;
}

/* Cart Container */
.cart-container {
    width: 40%;
    background-color: rgb(245, 245, 245);
    padding: 2rem;
}